<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: 'Kumbh Sans', sans-serif;
            scroll-behavior: smooth;
        }
        .form-console{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 150px 0;
        }
        .form-control{
            display: flex;
            flex-direction: column;
        }
        label{
            padding: 10px 0; 
            font-size: 1.2rem;
            font-weight: 700;
        }
        input {
            width: 500px;
            height: 35px;
            outline: none;
        }
        input[type="text"] {
            font-size:20px;
        }
        textarea{
            height: 200px;
            font-size: 20px;
        }
        button{
            margin-top: 6px;
            width: 50px;
            max-width: 100%;
            border-radius: 3;
            cursor: pointer;
        }
        button:active{
            transform: scale(.98);
        }
    </style>
</head>
<body>
    <%- include('navbar') %>
    <form class="form-console" method="POST" action="/insert" enctype="multipart/form-data">
        <div class="forms-side">
            <div class="form-control">
                <label>Title</label>
                <input type="text" class="form-control" name="title">
            </div>
            <div class="form-control">
                <label>Date</label>
                <input type="date" class="form-control" name="date">
            </div>
            <div class="form-control">
                <label>Description</label>
                <input type="text" class="form-control" name="description">
            </div>
            <div class="form-control">
                <label >Image</label>
                <input type="file" class="form-control" name="image">
            </div>
            <div class="form-control">
                <label>Content</label>
                <textarea name="content"></textarea>
            </div>
            <div class="form-group">
                <button type="submit">Save</button>
            </div>
        </div>
    </form>

</body>
</html>